@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Poppins";
}

.header {
  width: 100%;
  height: auto;
  background-color: #0a3614;
  display: flex;
  justify-content: center;
  font-family: "Open sans";
}

.header-data {
  display: flex;
  margin: 2rem;
}

.hlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.hlogo img {
  width: 13rem;
  height: 13rem;
}

.hcontent {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.hcontent .title {
  font-size: 5rem;
}

.hcontent p {
  font-weight: 600;
  font-size: 1.4rem;
}

.contact-details {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  color: #ffffff;
}

.icon {
  margin-right: 0.3rem;
  color: #ffffff;
}

.data {
  margin-right: 1rem;
}

.contact {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.gst {
  padding-top: 0.4rem;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .header {
    width: 100vw;
    text-align: center;
  }

  .header-data {
    display: block;
    text-align: center;
  }

  .hlogo {
    margin: 0rem;
  }

  .hlogo img {
    width: 8rem;
    height: 8rem;
  }

  .hcontent {
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
  }

  .hcontent .title {
    font-size: 2rem;
    display: block;
    justify-content: center;
  }

  .hcontent p {
    padding-top: 0.1rem;
    font-weight: 600;
    font-size: 0.8rem;
  }

  .hcontent .contact {
    display: block;
    justify-content: center;
    padding-top: 0.5rem;
    font-size: 0.8rem;
  }

  .icon {
    margin: 0rem;
  }

  .data {
    margin: 0rem;
  }

  .contact-details {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }
}

.invoice-form {
  width: 80vw;
  height: auto;
  background-color: #ccfccb;
  border-radius: 1rem;
  max-width: 80vw;
  margin: 3rem auto;
}

.invoice-form h2 {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.form-group {
  display: flex;
  justify-content: end;
  align-items: center;
}

.invHead {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: auto;
}

.invDiv1 {
  display: block;
  justify-content: start;
  width: 35vw;
}

.invDiv2 {
  display: block;
  justify-content: start;
  width: 35vw;
}

.invDiv3 {
  display: flex;
  justify-content: center;
}

.invDiv4,
.invDiv5 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.invDiv6 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.invDiv3 input[type="number"],
.invDiv4 input[type="number"],
.invDiv5 input[type="number"] {
  width: 13vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  margin-right: 2rem;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"] {
  width: 18vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  margin: 0.22rem;
  margin-left: 0.5rem;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.line {
  border: 1px solid rgba(34, 0, 255, 0.4);
  margin: 2rem;
}

#grandTotalWords {
  font-size: 1.2rem;
  color: red;
  text-align: center;
  padding-top: 0.8rem;
}

#button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #0a3614;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 1.1rem;
  margin: 0 auto;
  width: 10rem;
  height: auto;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

#button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

#button:hover .icon {
  transform: translate(4px);
}

#button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

#button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

.btnCont {
  padding: 2rem;
}

@media (max-width: 768px) {
  .invHead {
    display: block;
    justify-content: center;
  }

  .form-group {
    width: auto;
    justify-content: end;
  }

  .invDiv1,
  .invDiv2,
  .invDiv3,
  .invDiv4,
  .invDiv5,
  .invDiv6 {
    width: auto;
    display: block;
    justify-content: center;
  }

  input[type="text"],
  input[type="date"],
  input[type="time"],
  input[type="number"] {
    width: 40vw;
  }

  .invDiv3 input[type="number"],
  .invDiv4 input[type="number"],
  .invDiv5 input[type="number"] {
    width: 40vw;
    margin: 0.3rem 0.15rem;
  }

  .invoice-form {
    width: 80vw;
    height: auto;
    padding-bottom: 15rem;
  }

  .btnCont {
    margin-bottom: 3rem;
  }

  #grandTotalWords {
    display: block;
  }
}
